<form action="/new_recipe" method="post">
  recipe name:<br>
    <input type="text" value="<%= @name %>"><br>
  preparation time:<br>
    <input type="text" value="<%= @prep_time %>"><br>
  dificulty:<br>
    <input type="text" value="<%= @dificulty %>"><br>
  description:<br>
    <input type="text" value="<%= @description %>"><br>
  <input type="submit" value="Submit">
</form>



